#map {
  height: 500px;
}

.contacts {
  &-area {

    .button{
      height: 40px;
      line-height: 36px;
    }

    .block__title {
      font-size: 18px;
      font-weight: bold;

    }

    > ul {
      margin: 0;

      > li {
        line-height: 25px;
      }
    }

    .phones {
      .phone {
        a{
          color: $off-black;
          font-size: 15px;
        }
        span {
          color: #848080;
          font-size: 13px;
          display: inline-block;
          margin-left: 2rem;
        }
      }
    }

    .messengers {
      .phone {
        a{
          color: $off-black;
          font-size: 15px;
        }

        i {
          margin-left: 15px;
        }

        .whatsapp {
          display: inline-block;
          width: 21px;
          height: 21px;
          background: url(../img/whatsapp.png) center center no-repeat;
          background-size: contain;
          margin-left: 30px;
        }

        .telegram {
          display: inline-block;
          width: 21px;
          height: 21px;
          background: url(../img/telegram.png) center center no-repeat;
          background-size: contain;
        }

        .viber {
          display: inline-block;
          width: 21px;
          height: 21px;
          background: url(../img/viber.png) center center no-repeat;
          background-size: contain;
        }
      }
      .app {
        font-size: 13px;
        color: $primary-color;

        .skype {
          display: inline-block;
          width: 21px;
          height: 21px;
          background: url(../img/skype.png) center center no-repeat;
          background-size: contain;
          margin-right: 15px;
        }
      }
    }

  }
}

.owner-summary {
  margin-top: .5rem;

  li {
    font-size: 13px;
    line-height: 30px;
  }
}

.contact__title {
  font-weight: bold;
  line-height: 22px;
  font-size: 16px;
}